<div class="action-button">
  <button type="button" (click)="formLoadingTrigger.next('user')">
    Load User Form
  </button>
  <button type="button" (click)="formLoadingTrigger.next('company')">
    Load Company Form
  </button>
</div>

<div *ngIf="fromConfig$ | async as fromConfig" class="dynamic-form-container">
  <form [formGroup]="fromConfig.form" (ngSubmit)="onSumbit(fromConfig.form)">
    <h3 class="form-heading">{{ fromConfig.config.description }}</h3>
    <ng-container *ngFor="let control of fromConfig.config.controls | keyvalue: coparatorFn">
      <ng-container
        [ngComponentOutlet]="controlResolver.resolve(control.value.controlType) | async"
        [ngComponentOutletInjector]="control.key | controlInjector:control.value">
      </ng-container>
    </ng-container>
    <button [disabled]="fromConfig.form.invalid">Save</button>
  </form>
</div>
