<form
  class="form"
  [ngFormOptions]="{ updateOn: 'submit'}"
  #form="ngForm"
  (reset)="onReset($event)"
  (ngSubmit)="onSubmitForm($event)"
  [ngFormOptions]="{ updateOn: 'blur' }"
>
  <p>form Model state:</p>
  <pre>{{ userInfo | json }}</pre>
  <div class="form-field">
    <label for="name">First Name</label>
    <input
      [(ngModel)]="userInfo.firstName"
      [ngModelOptions]="{ name: 'first-name', updateOn: 'change' }"
      name="first-name"
      type="text"
      id="name"
      placeholder="Enter your name"
      required
      minlength="4"
      #firstName="ngModel"
      appBanWords="test"
    />
  </div>
  <div class="form-field">
    <label for="last-name">Last Name</label>
    <input
      [(ngModel)]="userInfo.lastName"
      name="last-name"
      type="text"
      id="last-name"
      placeholder="Enter your last name"
      required
      minlength="2"
      #lastName="ngModel"
    />
  </div>
  <div class="form-field">
    <label for="nick-name">Nick Name</label>
    <input
      [(ngModel)]="userInfo.nickname"
      name="nick-name"
      type="text"
      id="nick-name"
      placeholder="Come up with a nick name"
      required
      pattern="^[a-zA-Z0-9_.]+$"
      appUniqeNickname
      #nickname="ngModel"
      [appBanWords]="isAdult ? ['test', 'test_test', 'dummy'] : []"
    />
    <div class="input-info" *ngIf="nickname.pending">Checking...</div>
  </div>
  <div class="form-field">
    <label for="email">Email</label>
    <input
      [(ngModel)]="userInfo.email"
      name="email"
      type="email"
      id="email"
      placeholder="Provide your email"
      email
      required
      #email="ngModel"
    />
  </div>
  <div class="form-field-inline-group">
    <div class="form-field form-field--small">
      <label for="year-of-birth">Year of birth</label>
      <select
        [(ngModel)]="userInfo.yearOfBirth"
        name="year-of-birth"
        id="year-of-birth"
        required
        #yearOfBirth="ngModel"
      >
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="form-field form-field--small">
      <label for="passport">Passport Number</label>
      <!-- passport validation - start with 2 capital leter and following 6 numbers -->
      <input
        [(ngModel)]="userInfo.passport"
        name="passport"
        type="text"
        id="passport"
        placeholder="Provide Passport Data"
        pattern="^[A-Z]{2}[0-9]{6}"
        [required]="isAdult"
        #passport="ngModel"
      />
    </div>
  </div>
  <fieldset ngModelGroup="address">
    <legend>Address</legend>
    <div class="form-field">
      <label for="full-address">Full Adress</label>
      <input
        [(ngModel)]="userInfo.address.fullAddress"
        name="full-address"
        type="text"
        id="full-address"
        placeholder="Street name and house number"
        required
        #fullAddress="ngModel"
      />
    </div>
    <div class="form-field">
      <label for="city">City</label>
      <input
        [(ngModel)]="userInfo.address.city"
        name="city"
        type="text"
        id="city"
        placeholder="City"
        required
        #city="ngModel"
      />
    </div>
    <div class="form-field">
      <label for="post-code">Post Code</label>
      <input
        [(ngModel)]="userInfo.address.postCode"
        name="post-code"
        type="number"
        id="post-code"
        placeholder="Post code"
        required
        #postCode="ngModel"
      />
    </div>
  </fieldset>
  <fieldset
    ngModelGroup="password"
    appPasswordShouldMatch
    #passwordGroup="ngModelGroup"
  >
    <legend>User Password</legend>
    <div class="form-field">
      <label for="password">Password</label>
      <input
        [(ngModel)]="userInfo.password"
        required
        minlength="6"
        #password="ngModel"
        name="password"
        type="password"
        id="password"
        placeholder="Enter user's password"
      />
    </div>
    <div class="form-field">
      <label for="password">Confirm Password</label>
      <input
        withoutValidationErrors
        [(ngModel)]="userInfo.confirmPassword"
        required
        minlength="6"
        #confirmPassword="ngModel"
        name="confirmPassword"
        type="password"
        id="confirmPassword"
        placeholder="Enter user's password"
      />
    </div>
  </fieldset>
  <button>Save</button>
  <button type="reset" class="reset-button">Reset</button>
</form>
